<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-pebUhpFDoQwuRq8UBFq6ECYQy6BgYmg</string>
	<key>GCM_SENDER_ID</key>
	<string>372427916737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bitescan</string>
	<key>PROJECT_ID</key>
	<string>bitescan-96240</string>
	<key>STORAGE_BUCKET</key>
	<string>bitescan-96240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372427916737:ios:bd61e48132a2bb5075db40</string>
</dict>
</plist>